@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.RegisterPage{
    display: flex;
    flex-direction: row;
}
.imgpropaganda{
    position: static;
}
.infopropaganda{
    position: relative;
    left: 48px;
}
.titlepropaganda{
    font-family: "Noto Serif";
    font-size: 30px;
    font-weight: 400;
}
.textpropaganda{
    line-height: 2px;
}
.voltar{
    margin-top: 48px; margin-left: 48px;
    display: flex;
    flex-direction: row;
    font-family: "Public Sans";
    color: #434653;
}
.formulario{
    margin: 0px 96px 96px 96px;
}
.title-formulario{
    font-family: "Noto Serif";
}
.p-formulario{
    font-family: "Inter";
    color: #434653;
}
.info1{margin-top: 48px;}
.info2, .info3, .info4{margin: 24px 0px;}
.h2-info{
    color: #1B1C1D;
    font-family: "Public Sans";
    font-size: 12px;
    text-transform: uppercase;
}
.inputinfo{
    padding: 14px 16px;
    width: 307.33px;
    border: 2px solid #6B7280;
    border-radius: 4px;
}